<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">
          Username
        </label>
        <input id="username" type="text" formControlName="username">
      </div>

      <div>
        <label for="password">
          Password
        </label>
        <input id="password" type="text" formControlName="password">
      </div>

      <button class="button" type="submit">Login</button>
    </form>

    <p id="error-message" *ngIf="error">Username or password is incorrect</p>
  </mat-card-content>
</mat-card>
